<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="bootstrap.php"
>
    <testsuites>
        <testsuite name="PHPSlang Project Test Suite">
            <directory>test/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
        <log type="coverage-xml" target="coverage/coverage-xml" />
        <log type="junit" target="coverage/phpunit.junit.xml" />
    </logging>
</phpunit>
